<a href="https://colab.research.google.com/github/vyavasthita/dsml_learning/blob/master/probability/1_conditional_probability_and_Bayes_Theorem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# !wget --no-check-certificate https://drive.google.com/uc?id=1zBM3idCNWceBMLKMRBTN8aVFAg5U_YH7 -O Sachin_ODI.csv

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# read data from github: https://github.com/SachinScaler/ProbabilityAndStats_Nov2025
df_sachin = pd.read_csv('https://raw.githubusercontent.com/SachinScaler/ProbabilityAndStats_Nov2025/refs/heads/main/Sachin_ODI.csv')
df_sachin.head()

,runs,NotOut,mins,bf,fours,sixes,sr,Inns,Opp,Ground,Date,Winner,Won,century
0,13,0,30,15,3,0,86.66,1,New Zealand,Napier,1995-02-16,New Zealand,False,False
1,37,0,75,51,3,1,72.54,2,South Africa,Hamilton,1995-02-18,South Africa,False,False
2,47,0,65,40,7,0,117.50,2,Australia,Dunedin,1995-02-22,India,True,False
3,48,0,37,30,9,1,160.00,2,Bangladesh,Sharjah,1995-04-05,India,True,False
4,4,0,13,9,1,0,44.44,2,Pakistan,Sharjah,1995-04-07,Pakistan,False,False

In [ ]:
df_sachin[["century","Won"]].value_counts()

century  Won
False    False    160
         True     154
True     True      30
         False     16
Name: count, dtype: int64

#### Q1. A match is randomly chosen, what is the probability that India have won that match?

In [ ]:
df_sachin["Won"].value_counts()

Won
True     184
False    176
Name: count, dtype: int64

In [ ]:
184 / (184 + 176)

0.5111111111111111

#### Q2. A match is chosen at a random, what is the probability that Sachin has scored a Century in that match?

In [ ]:
df_sachin["century"].value_counts()

century
False    314
True      46
Name: count, dtype: int64

In [ ]:
46 / (314 + 46)

0.12777777777777777

#### Q3: find out how many matches India have won when Sachin has scored a century and
#### How many matches India have won when sachin didn't score a century.

In [ ]:
df_sachin[["century","Won"]].value_counts()

century  Won
False    False    160
         True     154
True     True      30
         False     16
Name: count, dtype: int64

In [ ]:
 # A: find out how many matches India have won when Sachin has scored a century
 # ans: 30

# B: find out how many matches India have won when sachin didn't score a century
 # ans: 154

#### Q4. A match is chosen at a random. What is the probability that Sachin has scored a century in that match and India have won that match?

HINT: P(W and C)

In [ ]:
len(df_sachin)

360

In [ ]:
30 / 360

0.08333333333333333

In [ ]:
df_sachin[["century","Won"]].value_counts()

century  Won
False    False    160
         True     154
True     True      30
         False     16
Name: count, dtype: int64

In [ ]:
pd.crosstab(index = df_sachin["century"],
            columns= df_sachin["Won"],
            margins = True)

Won      False  True  All
century
False      160   154  314
True        16    30   46
All        176   184  360

In [ ]:
# count(Century intersection win) = 30
# p(Century intersection win) = 30 / 360