<a href="https://colab.research.google.com/github/vyavasthita/dsml_learning/blob/master/pandas/2_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
!gdown 1E3bwvYGf1ig32RmcYiWc0IXPN-mD_bI_

In [ ]:
df = pd.read_csv('mckinsey.csv')
df['country']
df.head()

df[0] will not work because pandas will try to look for a column named 0 in the data frame, which does not exist, so it will throw an error.

But slicing like df[0:4] will work, and it will fetch the first 4 rows.

In [ ]:
# df[0]

In [ ]:
df[0:4]

In [ ]:
df.index  # implicit index

In [ ]:
df.index = np.arange(10, 1714)
df

loc: explicit indexing, end is inclusive
iloc: implicit indexing, end is NOT inclusive

In [ ]:
# df.loc[1] # will not work because the explicit indexing starts from 10 in the
# above example
df.iloc[1] # this will work because implicit indexing always starts from 0

In [ ]:
df.iloc[-1]

In [ ]:
# df.loc[-1]  # will not work because the explicit indexing does not have -1

In [ ]:
df.iloc[[3, 4, 5]]

In [ ]:
df['continent'] == 'Asia'

In [ ]:
df.loc[df['continent'] == 'Asia']

In [ ]:
temp_df = df.set_index('country')
temp_df
# temp_df.loc['Afghanistan']

In [ ]:
# reset index back to 0
df.reset_index()  # it does not change the original df also it will show the old indexing under the index column

To change the original df we need to use inplace = True
To remove the old indexing, we need to use drop = True

In [ ]:
df.reset_index(inplace=True, drop=True)
df

To create a new row, we can not use iloc, as it will throw an error if the index is not present.
For this, we need to use loc

In [ ]:
# df.iloc[len(df)] = ['Bharat', 2009, 234567, 'Asia', 44.44, 567.987] # throws
# error

In [ ]:

df.loc[len(df)] = ['Bharat', 2009, 234567, 'Asia', 44.44, 567.987]  # create a new row
df

If we use the existing index in loc or iloc, then the row will be updated.

So, for adding a new row, we need to use loc.

For updating an existing row, we can use either loc or iloc.

In [ ]:
# Add duplicate records
df.loc[len(df)] = ['India', 2009, 234567, 'Asia', 44.44, 567.987]
df.loc[len(df)] = ['India', 2009, 234567, 'Asia', 44.44, 567.987]
df.loc[len(df)] = ['India', 2009, 234567, 'Asia', 44.44, 567.987]
df.loc[len(df)] = ['India', 2009, 234567, 'Asia', 44.44, 567.987]
df.loc[len(df)] = ['India', 2009, 234567, 'Asia', 44.44, 567.987]
df

In [ ]:
# Remove duplicate rows
# df.drop([1709, 1710, 1711, 1712, 1713, 1714, 1715, 1716, 1717, 1718])
df

In [ ]:
# Finding the duplicates
df.duplicated()

In [ ]:
df[df.duplicated()] # search and print duplicates

In [ ]:
# Drop duplicates (Search + delete)
df.drop_duplicates()

In [ ]:
df.drop_duplicates(keep='last')

In [ ]:
df.drop_duplicates(keep='first', inplace=True)

In [ ]:
df

By default, duplicates will include all columns for comparing the duplicates.

If we use subset argument, then it will only use columns mentioned in subset for checking duplicates.

In the example below, it will check only columns A and B and compare the consolidated values of A and B.

subset=['A', 'B'] will return Bool array.

Sum will sum True(1) and will output 2 as there are two combinations (index 4 & 6) of the same rows with columns A and B.

In [ ]:
data = {'A': ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
        'B': ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
        'C': ['small', 'large', 'large', 'small', 'small', 'large', 'large', 'small'],
        'D': [1, 2, 2, 3, 3, 4, 5, 6]}

df2 = pd.DataFrame(data)

print(sum(df2.duplicated(subset=['A', 'B'])))

In [ ]:
df2.duplicated(subset=['A', 'B'])

In [ ]:
df = pd.read_csv('mckinsey.csv')

Slicing on DF

In [ ]:
# By default implicit and explicit indexes are same
df.loc[1]

In [ ]:
df.iloc[1]

When we use `loc`, the slicing works only on rows, not on columns.

In [ ]:
# df.loc[0:2, 1:3]

When we use iloc, the slicing works both on rows and columns.

In [ ]:
df.iloc[0:2, 1:3]

For columns with loc, we need to explicity use the name of the columns with slicing.

In [ ]:
df.loc[0:2, 'year':'life_exp'] # columns starting from year till life_exp

In [ ]:
df.loc[0:2, ['year','life_exp']] # only columns year and life_exp

In [ ]:
df.iloc[0:5:2, 1:4]

In [ ]:
df.loc[0:2, 'year':'gdp_cap': 2]

In [ ]:
print(df['life_exp'].mean())

In [ ]:
df['life_exp'].min()

In [ ]:
np.min(df['life_exp']) # Series is 1D array and we can use numpy also

In [ ]:
df.sort_values('life_exp', ascending=False)

In [ ]:
df.sort_values(['year', 'life_exp'], ascending=[False, True])

In [ ]:
df.sort_values(['year', 'life_exp'], ascending=[False, True]).reset_index(drop=True, inplace=True)

In [ ]:
df.to_csv('output.csv', index=False)

Concatenation

In [ ]:
users = pd.DataFrame(
    {
        'user_id': [101, 102, 103],
        "names": ["Samskriti", "Sabhyata", "Aarush"]
    }
)
users

In [ ]:
messages = pd.DataFrame(
    {
        'user_id': [101, 102, 103, 104],
        "msgs": ["Namaste", "Kaise Ho", "Mein Accha Hoon", "Kaha Ho"]
    }
)
messages

In [ ]:
pd.concat([users, messages])